<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}
{{ $likes := .likes }}

<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <meta property="og:image" content="/chic/i/{{ $pack.Name }}/siren.{{ $pack.FinalType }}" />
    {{ template "head" }}
    {{ if $pack.Banner }}
        <style>
            .background-banner {
                background-image: url('{{ $pack.Banner }}');
                background-size: cover;
            }
        </style>
    {{ end }}
</head>
<body>
<div style="width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div id="banner" class="{{- if $pack.Banner -}} background-banner {{- else -}} dark-stripes-banner {{- end -}}" style="width: 900px; height: auto; display: flex; flex-wrap: wrap; padding: 1%;">
        {{ range $icon := $pack.Icons }}
            {{ if $icon.Enabled }}
                <div style="width: 20%; height: auto;">
                    <div style="width: 100%; padding-top: 100%; position: relative;">
                        <div style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: inline-flex; justify-content: center; align-items: center;"> 
                            <img src="/chic/i/{{ $pack.Name }}/{{ $icon.Name }}.{{ $pack.FinalType }}" alt="" style="width: {{ mul_div 80 $pack.Scale 100 }}%; height: auto;">
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>
</body>
</html>
