{{ define "head" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon shortcut" type="image/svg+xml" href="/icons/siren-tri.svg">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-400-normal.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-500-normal.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-700-normal.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-400-italic.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-500-italic.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/montserrat/files/montserrat-latin-700-italic.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2" />
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/node_modules/@fontsource/jetbrains-mono/files/jetbrains-mono-latin-700-italic.woff2" />
    <style>
        {{ .css }}
    </style>
{{ end }}
