<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $likes := .likes }}
{{ $img_exts := .img_exts }}
{{ $base_bucket_url := .base_bucket_url }}

<html lang="ru" xmlns:og="http://ogp.me/ns#">
<head>
    {{ template "head" . }}
    <title>SIREN — Конструктор иконок для Chaturbate</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Конструктор иконок для Chaturbate">
    <meta name="twitter:description" content="Бесплатные иконки для вашего профиля в Chaturbate">
    <meta name="twitter:image" content="https://siren.s3.nl-ams.scw.cloud/img/chic.png">
    <meta name="image" property="og:image" content="https://siren.s3.nl-ams.scw.cloud/img/chic.png">
    {{ template "chic_functions" }}
</head>

<body>
{{ template "header" }}
<div class="container">
    <main>
        <h1 class="mt-4">Конструктор иконок для Chaturbate</h1>
        <p class="pt-2">
            Эти иконки бесплатны.
            Вы можете использовать их в своём профиле на Chaturbate.
            Вы также получите иконку для нашего сервиса SIREN.
            Мы будем автоматически оповещать в Telegram ваших пользователей, когда вы начинаете трансляцию, если они подпишутся на вас, кликнув по иконке.
        </p>
        <h3 class="pt-2">Как пользоваться</h3>
        <ol>
            <li>Удостоверьтесь, что ваш возраст верифицирован в Chaturbate</li>
            <li>Выберите пакет иконок</li>
            <li>Заполните свои социальные сети</li>
            <li>Нажмите "получить код для профиля"</li>
            <li>Вставьте код в начало раздела "Списки желаний" / "Wish Lists" или "Обо Мне" / "About Me" вашего профиля в Chaturbate</li>
            <li>У вас новые иконки!</li>
        </ol>
        <p>
            Загрузка иконок в кэш Chaturbate может занять некоторое время.
            Если иконки не появились сразу, попробуйте зайти на страницу профиля через несколько минут.
            Если ваш возраст не потдверждён в Chaturbate, иконки, как и другой код в вашем профиле не будут работать.
        </p>
        <div class="pt-2 mx-auto">
            {{- range $index, $pack := .packs -}}
                <div class="row my-3">
                    <div class="col-12 col-lg-10">
                        <div class="swiper-container dark-stripes">
                            <img style="height: 90px;"
                                 src="{{ $base_bucket_url }}/{{ $pack.Name }}/line.{{ index $img_exts "png" }}"
                                 alt=""
                                 draggable="false"
                                 ondragstart="return false;"
                                 loading="lazy">
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 d-flex justify-content-center flex-column mt-lg-0 mt-2 order-lg-first">
                        <a class="btn btn-dark w-100 d-block" href="/chic/p/{{ $pack.Name }}">выбрать</a>
                        <div class="w-100 d-flex align-items-center" style="margin-top: 0.45rem;">
                            <div class="d-inline-flex align-items-center">
                                <input id="like-{{ $pack.Name }}" name="like-{{ $pack.Name }}" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', true)"/>
                                <label for="like-{{ $pack.Name }}" class="d-inline-flex align-items-center btn btn-dark btn-like"><i class="fas fa-thumbs-up"></i></label>
                            </div>
                            <div class="d-inline-flex align-items-center" style="margin-left: 0.35rem;">
                                <input id="dislike-{{ $pack.Name }}" name="like-{{ $pack.Name }}" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', false)"/>
                                <label for="dislike-{{ $pack.Name }}" class="d-inline-flex align-items-center btn btn-dark btn-like"><i class="fas fa-thumbs-down"></i></label>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="d-flex align-items-center">
                                <b id="likes-{{ $pack.Name }}" style="font-size: 13px;" data-initial="{{ printf "%+d" (index $likes $pack.Name) }}">
                                    {{- printf "%+d" (index $likes $pack.Name) -}}
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            {{- end }}
        </div>
    </main>
    {{ template "footer" . }}
</div>
<script>
    const swipers = document.querySelectorAll('.swiper-container');
    for (let i = 0; i < swipers.length; i++) {
        swipers[i].onmousedown = mouse_down_handler;
    }
</script>
</body>
</html>
