<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}

<html lang="ru">
<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Конструктор иконок для Chaturbate">
    <meta name="twitter:description" content="{{ $pack.HumanName }} — пакет иконок для Chaturbate">
    <meta name="twitter:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <meta name="image" property="og:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <title>{{ $pack.HumanName }} — пакет иконок для Chaturbate</title>
    <script>
        function copyTextToClipboard(text) {
            navigator.clipboard.writeText(text).then(
                function () {
                    document.getElementById('copy-button').innerText = 'скопировано'
                },
                function () {
                    document.getElementById('copy-button').innerText = 'не получилось'
                });
        }
    </script>
    {{ template "twitter" }}
</head>

<body>
{{ template "header" }}
<div class="container" style="margin-bottom: 75px;">
    <main>
        <header class="mt-4">
            <h1>{{ $pack.HumanName }}</title>
            <p><small>Пакет иконок для Chaturbate</small></p>
        </header>
        {{ if .code }}
            <div class="mt-4">
                <div class="row">
                    <div class="col-12 d-flex">
                        <span class="align-self-end me-4">
                            Скопируйте этот код и вставьте в начало секции "Списки желаний" / "Wish Lists"
                            или "Обо мне" / "About Me" вашего профиля в Chaturbate
                        </span>
                        <button id="copy-button"
                                class="ms-auto align-self-end ms-2 btn btn-primary"
                                onclick="copyTextToClipboard(document.getElementById('code').innerText)">
                            скопировать
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="p-3 rounded border border-light bg-white" style="width: 100%;">
                            <pre style="white-space: pre-wrap;"><code id="code">{{ .code }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-2">
                В начале секции появится небольшое пустое пространство,
                необходимое для корректного отображения в мобильном режиме.
                Загрузка иконок в кэш Chaturbate может занять некоторое время.
                Если иконки не появились сразу, попробуйте зайти на страницу профиля через несколько минут.
                Если ваш возраст не потдверждён в Chaturbate, иконки, как и другой код в вашем профиле не будут работать.
            </p>
        {{ end }}
        <div class="row mt-3">
            <div class="col-4 col-lg-2">
                <button class="btn btn-secondary w-100" onclick="window.history.back()">назад / изменить</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                Поделитесь этим пакетом иконок с друзьями. Это поможет нам нарисовать ещё больше бесплатных иконок.
            </div>
            <div class="col-12 mt-1 d-flex" style="column-gap: .5rem;">
                <a class="twitter-share-button custom-twitter-share-button share-button share-button-ru"
                   data-size="large"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text=Я использую этот пакет иконок от @siren_tlg&url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}">
                    Твитнуть
                </a>
                <a class="reddit-share-button share-button share-button-ru"
                   target="_blank"
                   href="https://reddit.com/submit?url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}&title=Я использую этот пакет иконок от u/siren_tlg">
                    Reddit
                </a>
            </div>
        </div>
    </main>
    {{ template "footer" . }}
</div>
</body>
</html>
