<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}
{{ $likes := .likes }}
{{ $img_exts := .img_exts }}
{{ $base_bucket_url := .base_bucket_url }}

<html lang="ru" xmlns:og="http://ogp.me/ns#">
<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Конструктор иконок для Chaturbate">
    <meta name="twitter:description" content="{{ $pack.HumanName }} — пакет иконок для Chaturbate">
    <meta name="twitter:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <meta name="image" property="og:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg" />
    <title>{{ $pack.HumanName }} — пакет иконок для Chaturbate</title>
    <script>
        function like_changed(what, val) {
            fetch(`/chic/like/${what}`, {method: "POST", body: JSON.stringify({pack: what, like: val})});
            const likes = document.getElementById(`likes-${what}`)
            const count = parseInt(likes.dataset.initial) + (val ? 1 : -1)
            likes.innerText = (count < 0 ? "" : "+") + count
        }

        function siren_updated() {
            const inp = document.getElementsByName('siren')[0]
            document.getElementById('fanclub-string').value = inp.value
        }
    </script>
    {{ template "twitter" }}
</head>

<body onload="siren_updated()">
{{ template "header" }}
<div class="container" style="margin-bottom: 75px;">
    <main>
        <header class="mt-4">
            <h1>{{ $pack.HumanName }}</title>
            <p class="h-secondary">Пакет иконок для Chaturbate</p>
        </header>
        <p class="pt-2">
            Эти иконки бесплатны.
            Вы можете использовать их в своём профиле на Chaturbate.
            Вы также получите иконку для нашего сервиса SIREN.
            Мы будем автоматически оповещать в Telegram ваших пользователей, когда вы начинаете трансляцию, если они подпишутся на вас, кликнув по иконке.
        </p>
        <div class="mt-2">
            <a class="btn btn-dark px-3" href="/chic">показать все пакеты</a>
        </div>
        <form novalidate action="/chic/code/{{ .pack.Name }}" class="needs-validation">
            <h3 class="mt-4">Выберите расположение</h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="placement" id="title" value="title" checked>
                <label class="form-check-label" for="title">
                    Вместо <em>"Описание и бесплатная веб-камера <strong>МОДЕЛЬ</strong>"</em>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="placement" id="line" value="line">
                <label class="form-check-label" for="line">
                    Просто ещё одна строка в разделе
                </label>
            </div>

            <h3 class="mt-4">Заполните свои социальные сети</h3>
            <div class="mx-auto mt-3">
                {{ define "simple_input" }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="{{ .ctx.base_bucket_url }}/{{ .ctx.pack.Name }}/{{ versioned .ctx.pack .name }}.{{ index .ctx.img_exts .ctx.pack.FinalType }}"
                                     alt=""
                                     style="height: {{ .ctx.pack.Scale }}%; width: auto;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">{{ .comment }}</label>
                                </div>
                                <div class="w-100">
                                    <input id="{{ .name }}"
                                           name="{{ .name }}"
                                           value="{{ index .ctx.params .name }}"
                                           {{ if not .text }}
                                               pattern="https://.*"
                                           {{ else }}
                                               pattern="^(?:https?://)?(?:www\.|ar\.|de\.|el\.|en\.|es\.|fr\.|hi\.|it\.|ja\.|ko\.|nl\.|pt\.|ru\.|tr\.|zh\.|m\.)?chaturbate\.com(?:/p|/b)?/(?!(?:in|affiliates|external_link|p|b)\b)([A-Za-z0-9\-_@]+)/?(?:\?.*)?$|^([A-Za-z0-9\-_@]+)$"
                                               required
                                           {{ end }}
                                           class="form-control {{- if and .text .error }} is-invalid {{- end }}"
                                           aria-describedby="invalid-feedback-{{ .name }}"
                                           placeholder="{{ .placeholder }}"
                                           onkeydown="{{- if eq .name "siren" -}} siren_updated() {{- end -}}"
                                           oninput="{{- if eq .name "siren" -}} siren_updated() {{- end }}"/>
                                    {{ if not .text }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Формат: https://ВАША_ССЫЛКА</div>
                                    {{ else }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Введите ваш никнейм на Chaturbate</div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if $pack.Icons.siren }}
                    {{ template "simple_input" map "ctx" . "name" "siren" "comment" (raw_html "Ник на Chaturbate <b>(обязательно)</b>") "placeholder" "ник" "text" true "error" .siren_error }}
                {{ end }}
                {{ if $pack.Icons.fanclub }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="{{ $base_bucket_url }}/{{ $pack.Name }}/{{ versioned $pack "fanclub" }}.{{ index $img_exts $pack.FinalType }}"
                                     alt=""
                                     style="height: {{ $pack.Scale }}%;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">Добавить иконку для фан-клуба</label>
                                </div>
                                <div class="w-100 d-flex">
                                    <div class="align-self-center flex-fill">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input id="fanclub-string" class="form-control" disabled/>
                                    </div>
                                    <div class="align-self-center ms-4 d-flex">
                                        <label class="switch align-self-center" for="fanclub">
                                            <input id="fanclub"
                                                   name="fanclub"
                                                   type="checkbox"
                                                    {{ if eq $params.fanclub "on" -}} checked {{- end }}>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if $pack.Icons.instagram }}
                    {{ template "simple_input" map "ctx" . "name" "instagram" "comment" "Ссылка на Instagram" "placeholder" "https://www.instagram.com/username" }}
                {{ end }}
                {{ if $pack.Icons.twitter }}
                    {{ template "simple_input" map "ctx" . "name" "twitter" "comment" "Ссылка на Twitter" "placeholder" "https://twitter.com/username" }}
                {{ end }}
                {{ if $pack.Icons.onlyfans }}
                    {{ template "simple_input" map "ctx" . "name" "onlyfans" "comment" "Ссылка на Onlyfans" "placeholder" "https://onlyfans.com/username" }}
                {{ end }}
                {{ if $pack.Icons.amazon }}
                    {{ template "simple_input" map "ctx" . "name" "amazon" "comment" "Ссылка на список желаний на Amazon" }}
                {{ end }}
                {{ if $pack.Icons.lovense }}
                    {{ template "simple_input" map "ctx" . "name" "lovense" "comment" "Ссылка на список желаний на Lovense" }}
                {{ end }}
                {{ if $pack.Icons.gift }}
                    {{ template "simple_input" map "ctx" . "name" "gift" "comment" "Ссылка на другой список желаний" }}
                {{ end }}
                {{ if $pack.Icons.pornhub }}
                    {{ template "simple_input" map "ctx" . "name" "pornhub" "comment" "Ссылка на Pornhub" }}
                {{ end }}
                {{ if $pack.Icons.dmca }}
                    {{ template "simple_input" map "ctx" . "name" "dmca" "comment" "Ссылка на DMCA" }}
                {{ end }}
                {{ if $pack.Icons.allmylinks }}
                    {{ template "simple_input" map "ctx" . "name" "allmylinks" "comment" "Ссылка на AllMyLinks" }}
                {{ end }}
                {{ if $pack.Icons.onemylink }}
                    {{ template "simple_input" map "ctx" . "name" "onemylink" "comment" "Ссылка на Onemylink" }}
                {{ end }}
                {{ if $pack.Icons.linktree }}
                    {{ template "simple_input" map "ctx" . "name" "linktree" "comment" "Ссылка на Linktree" }}
                {{ end }}
                {{ if $pack.Icons.fancentro }}
                    {{ template "simple_input" map "ctx" . "name" "fancentro" "comment" "Ссылка на FanCentro" }}
                {{ end }}
                {{ if $pack.Icons.manyvids }}
                    {{ template "simple_input" map "ctx" . "name" "manyvids" "comment" "Ссылка на ManyVids" }}
                {{ end }}
                {{ if $pack.Icons.frisk }}
                    {{ template "simple_input" map "ctx" . "name" "frisk" "comment" "Ссылка на Frisk" }}
                {{ end }}
                {{ if $pack.Icons.fansly }}
                    {{ template "simple_input" map "ctx" . "name" "fansly" "comment" "Ссылка на Fansly" }}
                {{ end }}
                {{ if $pack.Icons.throne }}
                    {{ template "simple_input" map "ctx" . "name" "throne" "comment" "Ссылка на Throne" }}
                {{ end }}
                {{ if $pack.Icons.avn }}
                    {{ template "simple_input" map "ctx" . "name" "avn" "comment" "Ссылка на AVN Stars" }}
                {{ end }}
                {{ if $pack.Icons.mail }}
                    {{ template "simple_input" map "ctx" . "name" "mail" "comment" "Ссылка на email" }}
                {{ end }}
                {{ if $pack.Icons.snapchat }}
                    {{ template "simple_input" map "ctx" . "name" "snapchat" "comment" "Ссылка на Snapchat" }}
                {{ end }}
                {{ if $pack.Icons.telegram }}
                    {{ template "simple_input" map "ctx" . "name" "telegram" "comment" "Ссылка на Telegram" }}
                {{ end }}
                {{ if $pack.Icons.whatsapp }}
                    {{ template "simple_input" map "ctx" . "name" "whatsapp" "comment" "Ссылка на WhatsApp" }}
                {{ end }}
                {{ if $pack.Icons.youtube }}
                    {{ template "simple_input" map "ctx" . "name" "youtube" "comment" "Ссылка на YouTube" }}
                {{ end }}
                {{ if $pack.Icons.tiktok }}
                    {{ template "simple_input" map "ctx" . "name" "tiktok" "comment" "Ссылка на TikTok" }}
                {{ end }}
                {{ if $pack.Icons.reddit }}
                    {{ template "simple_input" map "ctx" . "name" "reddit" "comment" "Ссылка на Reddit" }}
                {{ end }}
                {{ if $pack.Icons.twitch }}
                    {{ template "simple_input" map "ctx" . "name" "twitch" "comment" "Ссылка на Twitch" }}
                {{ end }}
                {{ if $pack.Icons.discord }}
                    {{ template "simple_input" map "ctx" . "name" "discord" "comment" "Ссылка на Discord" }}
                {{ end }}
                <div class="row mt-4">
                    <div class="col-12 col-lg-9">
                        <hr class="w-100"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9 d-flex align-items-center" style="font-size: 24px;">
                        <div class="flex-fill"></div>
                        <div class="d-inline-flex align-items-center">
                            <input id="like" name="like" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', true)"/>
                            <label for="like" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-up"></i></label>
                        </div>
                        <div class="d-inline-flex align-items-center ms-2" style="margin-left: 0.35rem;">
                            <input id="dislike" name="like"  type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', false)"/>
                            <label for="dislike" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-down"></i></label>
                        </div>
                        <div class="d-flex align-items-center">
                            <b id="likes-{{ $pack.Name }}"
                                style="font-size: 13px; min-width: 45px;"
                                data-initial="{{ printf "%+d" $likes }}"
                                class="text-end">
                                {{- printf "%+d" $likes -}}
                            </b>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-9">
                        <button id="submit" class="btn btn-primary w-100">получить код для профиля</button>
                        <div id="validation-alert" class="alert alert-danger mt-3 collapse" role="alert">Пожалуйста, исправьте ошибки и попробуйте ещё</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-12 col-lg-9">
                Поделитесь этим пакетом иконок с друзьями. Это поможет нам нарисовать ещё больше бесплатных иконок.
            </div>
            <div class="col-12 col-lg-9 mt-1 d-flex" style="column-gap: .5rem;">
                <a class="twitter-share-button custom-twitter-share-button share-button share-button-ru"
                   data-size="large"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text=Я использую этот пакет иконок от @siren_tlg&url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}">
                    Твитнуть
                </a>
                <a class="reddit-share-button share-button share-button-ru"
                   target="_blank"
                   href="https://reddit.com/submit?url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}&title=Я использую этот пакет иконок от u/siren_tlg">
                    Reddit
                </a>
            </div>
        </div>
    </main>
    {{ template "footer" . }}
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity()) {
                    event.preventDefault()
                    const formData = new FormData(form);
                    const filteredParams = new URLSearchParams();
                    for (let [key, value] of formData.entries()) {
                        if (value) {
                            filteredParams.append(key, value);
                        }
                    }
                    const targetUrl = `${form.action}?${filteredParams.toString()}`;
                    window.location.href = targetUrl;
                } else {
                    event.preventDefault()
                    event.stopPropagation()
                    let validationAlert = document.getElementById('validation-alert')
                    validationAlert.classList.remove("collapse");
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
