<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}
{{ $likes := .likes }}

<html lang="ru" xmlns:og="http://ogp.me/ns#">
<head>
    {{ template "head" . }}
    <meta property="og:image" content="/chic/i/{{ $pack.Name }}/siren.{{ $pack.FinalType }}" />
    <title>SIREN — Конструктор иконок для Chaturbate</title>
    <script>
        function like_changed(what, val) {
            fetch(`/chic/like/${what}`, {method: "POST", body: JSON.stringify({pack: what, like: val})});
            const likes = document.getElementById(`likes-${what}`)
            const count = parseInt(likes.dataset.initial) + (val ? 1 : -1)
            likes.innerText = (count < 0 ? "" : "+") + count
        }

        function siren_updated() {
            const inp = document.getElementsByName('siren')[0]
            document.getElementById('fanclub-string').value = inp.value
        }

        function remove_empties(form) {
            const inputs = form.querySelectorAll("input");
            for (let i = 0; i < inputs.length; i++) {
                if (inputs[i].value === "") {
                    inputs[i].disabled = true
                }
            }
            return true;
        }
    </script>
</head>

<body onload="siren_updated()">
<div class="container" style="margin-bottom: 75px;">
    {{ template "header" }}
    <main>
        <h2 class="text-center mt-4">Конструктор иконок для Chaturbate</h2>
        <p class="pt-2">
            Эти плавающие иконки бесплатны.
            Вы можете использовать их в своём профиле на Chaturbate.
            Вы также получите иконку для нашего сервиса SIREN.
            Мы будем автоматически оповещать в Telegram ваших пользователей, когда вы начинаете трансляцию, если они подпишутся на вас, кликнув по иконке.
        </p>
        <div class="mt-2">
            <a class="btn btn-dark px-3" href="/chic">показать все пакеты</a>
        </div>
        <form novalidate action="/chic/code/{{ .pack.Name }}" class="needs-validation">
            <div class="mt-4">
                <h3>Выберите размер иконок</h3>
                <div class="row mt-4">
                    <div class="col-xl-10 col-12">
                        {{ define "size_input" }}
                            <input type="radio"
                                   class="outlined-selection"
                                   id="size-{{ .n }}"
                                   name="size"
                                   value="{{ .n }}"
                                    {{ if or (eq .n .sel) (and (eq .n "5") (not .sel)) -}} checked {{- end }}>
                            <label for="size-{{ .n }}">
                                <img src="/chic/i/{{ .pack.Name }}/siren.{{ .pack.FinalType }}"
                                     alt=""
                                     style="height: {{ mul_div .h .pack.Scale 100 }}px;">
                            </label>
                        {{ end }}
                        <table class="size-selection">
                            <tr>
                                <td>
                                    {{ template "size_input" map "n" "1" "h" (index .sizes "1") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "2" "h" (index .sizes "2") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "3" "h" (index .sizes "3") "sel" $params.size "pack" $pack }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ template "size_input" map "n" "4" "h" (index .sizes "4") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "5" "h" (index .sizes "5") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "6" "h" (index .sizes "6") "sel" $params.size "pack" $pack }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ template "size_input" map "n" "7" "h" (index .sizes "7") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "8" "h" (index .sizes "8") "sel" $params.size "pack" $pack }}
                                </td>
                                <td>
                                    {{ template "size_input" map "n" "9" "h" (index .sizes "9") "sel" $params.size "pack" $pack }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <h3 class="mt-4">Заполните свои социальные сети</h3>
            <div class="mx-auto mt-2">
                {{ define "simple_input" }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="/chic/i/{{ .pack.Name }}/{{ .name }}.{{ .pack.FinalType }}"
                                     alt=""
                                     style="height: {{ .pack.Scale }}%; width: auto;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">{{ .comment }}</label>
                                </div>
                                <div class="w-100">
                                    <input id="{{ .name }}"
                                           name="{{ .name }}"
                                           value="{{ .value }}"
                                           {{ if not .text }}
                                               pattern="https://.*"
                                           {{ else }}
                                               pattern="^(?:https?://)?(?:www\.|ar\.|de\.|el\.|en\.|es\.|fr\.|hi\.|it\.|ja\.|ko\.|nl\.|pt\.|ru\.|tr\.|zh\.|m\.)?chaturbate\.com(?:/p|/b)?/(?!(?:in|affiliates|external_link|p|b)\b)([A-Za-z0-9\-_@]+)/?(?:\?.*)?$|^([A-Za-z0-9\-_@]+)$"
                                               required
                                           {{ end }}
                                           class="form-control {{- if and .text .error }} is-invalid {{- end }}"
                                           aria-describedby="invalid-feedback-{{ .name }}"
                                           placeholder="{{ .placeholder }}"
                                           onkeydown="{{- if eq .name "siren" -}} siren_updated() {{- end -}}"
                                           oninput="{{- if eq .name "siren" -}} siren_updated() {{- end }}"/>
                                    {{ if not .text }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Формат: https://ВАША_ССЫЛКА</div>
                                    {{ else }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Введите ваш никнейм на Chaturbate</div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if contains_icon $pack.Icons "siren" }}
                    {{ template "simple_input" map "pack" .pack "name" "siren" "comment" (raw_html "Ваш ник на Chaturbate <b>(обязательно)</b>") "value" $params.siren "placeholder" "ник" "text" true "error" .siren_error }}
                {{ end }}
                {{ if contains_icon $pack.Icons "fanclub" }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="/chic/i/{{ $pack.Name }}/fanclub.{{ $pack.FinalType }}"
                                     alt=""
                                     style="height: {{ $pack.Scale }}%;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">Добавить иконку для фан-клуба</label>
                                </div>
                                <div class="w-100 d-flex">
                                    <div class="align-self-center flex-fill">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input id="fanclub-string" class="form-control" disabled/>
                                    </div>
                                    <div class="align-self-center ms-4 d-flex">
                                        <label class="switch align-self-center" for="fanclub">
                                            <input id="fanclub"
                                                   name="fanclub"
                                                   type="checkbox"
                                                    {{ if eq $params.fanclub "on" -}} checked {{- end }}>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if contains_icon $pack.Icons "instagram" }}
                    {{ template "simple_input" map "pack" .pack "name" "instagram" "comment" "Ссылка на Instagram" "value" $params.instagram "placeholder" "https://www.instagram.com/username" }}
                {{ end }}
                {{ if contains_icon $pack.Icons "twitter" }}
                    {{ template "simple_input" map "pack" .pack "name" "twitter" "comment" "Ссылка на Twitter" "value" $params.twitter "placeholder" "https://twitter.com/username" }}
                {{ end }}
                {{ if contains_icon $pack.Icons "onlyfans" }}
                    {{ template "simple_input" map "pack" .pack "name" "onlyfans" "comment" "Ссылка на Onlyfans" "value" $params.onlyfans "placeholder" "https://onlyfans.com/username" }}
                {{ end }}
                {{ if contains_icon $pack.Icons "amazon" }}
                    {{ template "simple_input" map "pack" .pack "name" "amazon" "comment" "Ссылка на Amazon wish list" "value" $params.amazon }}
                {{ end }}
                {{ if contains_icon $pack.Icons "lovense" }}
                    {{ template "simple_input" map "pack" .pack "name" "lovense" "comment" "Ссылка на Lovense wish list" "value" $params.lovense }}
                {{ end }}
                {{ if contains_icon $pack.Icons "pornhub" }}
                    {{ template "simple_input" map "pack" .pack "name" "pornhub" "comment" "Ссылка на Pornhub" "value" $params.pornhub }}
                {{ end }}
                {{ if contains_icon $pack.Icons "dmca" }}
                    {{ template "simple_input" map "pack" .pack "name" "dmca" "comment" "Ссылка на DMCA" "value" $params.dmca }}
                {{ end }}
                {{ if contains_icon $pack.Icons "allmylinks" }}
                    {{ template "simple_input" map "pack" .pack "name" "allmylinks" "comment" "Ссылка на AllMyLinks" "value" $params.allmylinks }}
                {{ end }}
                {{ if contains_icon $pack.Icons "onemylink" }}
                    {{ template "simple_input" map "pack" .pack "name" "onemylink" "comment" "Ссылка на Onemylink" "value" $params.onemylink }}
                {{ end }}
                {{ if contains_icon $pack.Icons "fancentro" }}
                    {{ template "simple_input" map "pack" .pack "name" "fancentro" "comment" "Ссылка на FanCentro" "value" $params.fancentro }}
                {{ end }}
                {{ if contains_icon $pack.Icons "manyvids" }}
                    {{ template "simple_input" map "pack" .pack "name" "manyvids" "comment" "Ссылка на ManyVids" "value" $params.manyvids }}
                {{ end }}
                {{ if contains_icon $pack.Icons "frisk" }}
                    {{ template "simple_input" map "pack" .pack "name" "frisk" "comment" "Ссылка на Frisk" "value" $params.frisk }}
                {{ end }}
                {{ if contains_icon $pack.Icons "mail" }}
                    {{ template "simple_input" map "pack" .pack "name" "mail" "comment" "Ссылка на email" "value" $params.mail }}
                {{ end }}
                {{ if contains_icon $pack.Icons "snapchat" }}
                    {{ template "simple_input" map "pack" .pack "name" "snapchat" "comment" "Ссылка на Snapchat" "value" $params.snapchat }}
                {{ end }}
                {{ if contains_icon $pack.Icons "telegram" }}
                    {{ template "simple_input" map "pack" .pack "name" "telegram" "comment" "Ссылка на Telegram" "value" $params.telegram }}
                {{ end }}
                {{ if contains_icon $pack.Icons "whatsapp" }}
                    {{ template "simple_input" map "pack" .pack "name" "whatsapp" "comment" "Ссылка на WhatsApp" "value" $params.whatsapp }}
                {{ end }}
                {{ if contains_icon $pack.Icons "youtube" }}
                    {{ template "simple_input" map "pack" .pack "name" "youtube" "comment" "Ссылка на YouTube" "value" $params.youtube }}
                {{ end }}
                {{ if contains_icon $pack.Icons "tiktok" }}
                    {{ template "simple_input" map "pack" .pack "name" "tiktok" "comment" "Ссылка на TikTok" "value" $params.tiktok }}
                {{ end }}
                {{ if contains_icon $pack.Icons "reddit" }}
                    {{ template "simple_input" map "pack" .pack "name" "reddit" "comment" "Ссылка на Reddit" "value" $params.reddit }}
                {{ end }}
                {{ if contains_icon $pack.Icons "twitch" }}
                    {{ template "simple_input" map "pack" .pack "name" "twitch" "comment" "Ссылка на Twitch" "value" $params.twitch }}
                {{ end }}
                {{ if contains_icon $pack.Icons "discord" }}
                    {{ template "simple_input" map "pack" .pack "name" "discord" "comment" "Ссылка на Discord" "value" $params.discord }}
                {{ end }}
                <div class="row mt-4">
                    <div class="col-12 col-lg-9">
                        <hr class="w-100"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9 d-flex align-items-center" style="font-size: 24px;">
                        <div class="flex-fill"></div>
                        <div class="d-inline-flex align-items-center">
                            <input id="like" name="like" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', true)"/>
                            <label for="like" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-up"></i></label>
                        </div>
                        <div class="d-inline-flex align-items-center ms-2" style="margin-left: 0.35rem;">
                            <input id="dislike" name="like"  type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', false)"/>
                            <label for="dislike" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-down"></i></label>
                        </div>
                        <div class="d-flex align-items-center">
                            <b id="likes-{{ $pack.Name }}"
                                style="font-size: 13px; min-width: 45px;"
                                data-initial="{{ printf "%+d" $likes }}"
                                class="text-end">
                                {{- printf "%+d" $likes -}}
                            </b>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-9">
                        <button id="submit" class="btn btn-primary w-100">получить код для профиля</button>
                        <div id="validation-alert" class="alert alert-danger mt-3 collapse" role="alert">Пожалуйста, исправьте ошибки и попробуйте ещё</div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    {{ template "footer" . }}
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity()) {
                    remove_empties(form)
                } else {
                    event.preventDefault()
                    event.stopPropagation()
                    let validationAlert = document.getElementById('validation-alert')
                    validationAlert.classList.remove("collapse");
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
