<!DOCTYPE html>
<html lang="ru">

<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="SIREN">
    <meta name="twitter:description" content="Сервисы для стримеров">
    <meta name="twitter:image" content="https://siren.chat/icons/siren-1024x1024.png">
    <meta name="image" property="og:image" content="https://siren.chat/icons/siren-1024x1024.png">
    <title>SIREN — Telegram-бот для оповещений о вебкастах</title>
</head>

<body>
{{ template "header" }}
<div class="container">
    <main>
        <h1 class="mt-4">Сервисы для стримеров</h1>
        <p>
            Используйте наши бесплатные сервисы для стримеров!
        </p>
 
        <h3>Иконки для Chaturbate</h3>
        <p>
            Мы сделали <a href="/chic">конструктор иконок для Chaturbate</a>. Попробуйте! Он бесплатен!
        </p>

        <h3>Оповещения для ваших пользователей</h3>
        <p>
            Просто пошлите эту ссылку своим пользователям, и мы оповестим их, когда вы онлайн!
        </p>

        <div class="row">
            <div class="col-lg-8 col-xl-7 table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ваш сайт</th>
                            <th scope="col">Ваша ссылка</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Twitch</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/tw/<strong><em>ВАШ_КАНАЛ_TWITCH</em></strong></td>
                    </tr>
                    <tr>
                        <td>Chaturbate</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/cb-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Stripchat</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/sc-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>BongaCams</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/bc-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>LiveJasmin</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/lj-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>CamSoda</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/cs-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Flirt4Free</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/f4f-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Streamate</td>
                        <td class="text-nowrap overflow-auto mono">https://siren.chat/sm-ru/<strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                </table>
            </div>
        </div>

        <p class="mt-3">
            Замените <em><strong>МОДЕЛЬ</strong></em> на ваше имя пользователя.
        </p>

        <p class="p-3 mb-3 bg-warning">
            Эти боты работают на русском языке. Ссылки для англоязычных ботов тут <a class="text-muted" href="{{ .lang.en }}">English</a>.
        </p>

        <p class="p-3 mb-3 bg-warning">
            Для моделей BongaCams.
            Пожалуйста, не используйте "отображаемое имя" или "настоящее имя".
            Используйте имя пользователя, которое вы вводите при логине!
        </p>

        <p>
            Хотите, чтобы ваши пользователи получали автоматические оповещения, когда вы начинаете трансляцию?
            Прежде всего, нужно сказать, что наш бот не имеет отношения к вашему персональному аккаунту Telegram.
            Вам не нужно иметь Telegram, чтобы использовать его.
            Это просто: вы даёте ссылку пользователю, он кликает по ней и получает оповещения, когда вы онлайн.
            Всё, что нужно сделать, чтобы ваши пользователи знали, что вы онлайн — начать трансляцию.
            Наш бот проверяет, какие модели в сети, и сообщает об этом автоматически.
        </p>

        <p>
            Добавьте такую ссылку на наш бот в свой профиль на Chaturbate, Stripchat и BongaCams.
            Вы можете настроить иконку с помощью <a href="/chic">конструктора иконок для Chaturbate</a>.
            Делитесь ссылкой в Twitter, Instagram или других социальных сетях.
            Пользователи подпишутся на вас по ней в нашем боте.
        </p>

        <p>Рекомендованный текст для англоязычных пользователей: "Get a notification in Telegram whenever I'm online
            <em><strong>ВАША ССЫЛКА</strong></em>".</p>
        <p>Рекомендованный текст для русскоязычных пользователей: "Получай оповещение в Telegram, когда я начинаю трансляцию
            <em><strong>ВАША ССЫЛКА</strong></em>".</p>
        <p>Англоязычный бот отличается от русскоязычного по большому счёту только языком, на котором пользователь получает
            оповещения, например, "<em>имя модели</em> в сети" и "<em>имя модели</em> online".</p>
        <p>Пишите на <a href="mailto:siren.chat@gmail.com">siren.chat@gmail.com</a>, если у вас есть вопросы.</p>

        <h3 id="channel">Автоматические оповещения в вашем Telegram-канале или группе</h3>

        <p>
            Вы можете автоматически оповещать ваших пользователей в вашем Telegram-канале или группе, когда вы онлайн.
        </p>

        <h4>Шаг 1</h4>
        <p>
            Добавьте бота в группу или канал.
            По возможности приведены боты, работающие на русском языке.
            Команды для англоязычных ботов тут <a class="text-muted" href="{{ .lang.en }}#channel">English</a>.
        </p>

        <div class="row">
            <div class="col-lg-8 col-xl-7 table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ваш сайт</th>
                            <th scope="col">Бот</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Twitch</td>
                        <td class="text-nowrap overflow-auto mono">TwitchSirenBot</td>
                    </tr>
                    <tr>
                        <td>Chaturbate</td>
                        <td class="text-nowrap overflow-auto mono">ChaturbateSirenBot</td>
                    </tr>
                    <tr>
                        <td>Stripchat</td>
                        <td class="text-nowrap overflow-auto mono">StripchatSirenBot</td>
                    </tr>
                    <tr>
                        <td>BongaCams</td>
                        <td class="text-nowrap overflow-auto mono">BongaCamsSirenBot</td>
                    </tr>
                    <tr>
                        <td>LiveJasmin</td>
                        <td class="text-nowrap overflow-auto mono">RuLiveJasminSirenBot</td>
                    </tr>
                    <tr>
                        <td>CamSoda</td>
                        <td class="text-nowrap overflow-auto mono">RuCamSodaSirenBot</td>
                    </tr>
                    <tr>
                        <td>Flirt4Free</td>
                        <td class="text-nowrap overflow-auto mono">RuFlirt4FreeSirenBot</td>
                    </tr>
                    <tr>
                        <td>Streamate</td>
                        <td class="text-nowrap overflow-auto mono">RuStreamateSirenBot</td>
                    </tr>
                </table>
            </div>
        </div>

        <p>
            Если вы добавили бота в канал, а не группу, удостоверьтесь, что он является администратором и имеет разрешения на чтение и публикацию сообщений.
        </p>

        <h4>Шаг 2</h4>
        <p>
            Введите следующую команду.
        </p>
        <div class="row">
            <div class="col-lg-8 col-xl-7 table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ваш сайт</th>
                            <th scope="col">Команда</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Twitch</td>
                        <td class="text-nowrap overflow-auto mono">add@TwitchSirenBot <strong><em>ВАШ_КАНАЛ_TWITCH</em></strong></td>
                    </tr>
                    <tr>
                        <td>Chaturbate</td>
                        <td class="text-nowrap overflow-auto mono">add@ChaturbateSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Stripchat</td>
                        <td class="text-nowrap overflow-auto mono">add@StripchatSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>BongaCams</td>
                        <td class="text-nowrap overflow-auto mono">add@BongaCamsSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>LiveJasmin</td>
                        <td class="text-nowrap overflow-auto mono">add@RuLiveJasminSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>CamSoda</td>
                        <td class="text-nowrap overflow-auto mono">add@RuCamSodaSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Flirt4Free</td>
                        <td class="text-nowrap overflow-auto mono">add@RuFlirt4FreeSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                    <tr>
                        <td>Streamate</td>
                        <td class="text-nowrap overflow-auto mono">add@RuStreamateSirenBot <strong><em>МОДЕЛЬ</em></strong></td>
                    </tr>
                </table>
            </div>
        </div>
        <p>Вы можете удалить команду после установки бота.</p>

        <h4>Шаг 3 (необязательный)</h4>
        <p>
            Также мы шлём оповещения о том, что вы офлайн. Вы можете отключить их следующей командой.
        </p>
        <div class="row">
            <div class="col-lg-9 col-xl-8 table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ваш сайт</th>
                            <th scope="col">Команда</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Twitch</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@TwitchSirenBot</td>
                    </tr>
                    <tr>
                        <td>Chaturbate</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@ChaturbateSirenBot</td>
                    </tr>
                    <tr>
                        <td>Stripchat</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@StripchatSirenBot</td>
                    </tr>
                    <tr>
                        <td>BongaCams</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@BongaCamsSirenBot</td>
                    </tr>
                    <tr>
                        <td>LiveJasmin</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@RuLiveJasminSirenBot</td>
                    </tr>
                    <tr>
                        <td>CamSoda</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@RuCamSodaSirenBot</td>
                    </tr>
                    <tr>
                        <td>Flirt4Free</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@RuFlirt4FreeSirenBot</td>
                    </tr>
                    <tr>
                        <td>Streamate</td>
                        <td class="text-nowrap overflow-auto mono">disable_offline_notifications@RuStreamateSirenBot</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>
            Вы можете удалить команду после установки бота.
            Чтобы вновь включить офлайн-оповещения, просто замените <span class="mono">disable</span> на <span class="mono">enable</span>.
        </p>

        <h4>Шаг 4 (необязательный)</h4>
        <p>
            Возможно, вы хотите отключить скриншоты? Вы можете отключить их следующей командой.
        </p>
        <div class="row">
            <div class="col-lg-9 col-xl-8 table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Ваш сайт</th>
                            <th scope="col">Команда</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>Twitch</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@TwitchSirenBot</td>
                    </tr>
                    <tr>
                        <td>Chaturbate</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@ChaturbateSirenBot</td>
                    </tr>
                    <tr>
                        <td>Stripchat</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@StripchatSirenBot</td>
                    </tr>
                    <tr>
                        <td>BongaCams</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@BongaCamsSirenBot</td>
                    </tr>
                    <tr>
                        <td>LiveJasmin</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@RuLiveJasminSirenBot</td>
                    </tr>
                    <tr>
                        <td>CamSoda</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@RuCamSodaSirenBot</td>
                    </tr>
                    <tr>
                        <td>Flirt4Free</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@RuFlirt4FreeSirenBot</td>
                    </tr>
                    <tr>
                        <td>Streamate</td>
                        <td class="text-nowrap overflow-auto mono">disable_images@RuStreamateSirenBot</td>
                    </tr>
                </table>
            </div>
        </div>
        <p>
            Вы можете удалить команду после установки бота.
            Чтобы включить скриншоты, просто замените <span class="mono">disable</span> на <span class="mono">enable</span>.
        </p>
    </main>
    {{ template "footer" . }}
</div>
</body>
</html>
