{{ define "header-text" -}} Telegram-бот для оповещений о вебкастах {{- end }}
{{ define "footer-links" -}} Ссылки {{- end }}
{{ define "footer-langs" -}} Языки {{- end }}
{{ define "supported-sites" -}} Поддерживаемые сайты {{- end }}
