{
    "help": {
        "str": "The bot notifies you whenever your favorite BongaCams models are online.\n\nCommands\n\n<b>add</b> <i>model ID</i> — Add model\n<b>remove</b> <i>model ID</i> — Remove model\n<b>remove_all</b> — Remove all models\n<b>list</b> — Your subscriptions list\n<b>donate</b> — Donation instructions\n<b>feedback</b> <i>text</i> — Send feedback\n<b>source</b> — Show source code\n<b>language</b> — This bot in other languages\n<b>help</b> — Command list\n\nYou can find a model ID in an address line of your browser",
        "parse": "html"
    },
    "online": {
        "str": "%[1]s online\nwww.bongacams.com/%[1]s",
        "parse": "raw"
    },
    "online_list": {
        "str": "%[1]s online\nwww.bongacams.com/%[1]s",
        "parse": "raw"
    },
    "offline": {
        "str": "%s offline",
        "parse": "raw"
    },
    "offline_list": {
        "str": "%s offline",
        "parse": "raw"
    },
    "denied": {
        "str": "%s blocked an access from the USA, the location of this bot",
        "parse": "raw"
    },
    "denied_list": {
        "str": "%s blocked an access from the USA, the location of this bot",
        "parse": "raw"
    },
    "syntax_add": {
        "str": "Enter\n\n/add <i>model ID</i>\n\nYou can find a model ID in an address line of your browser\nThe bot treats lower- and uppercase letters as the same",
        "parse": "html"
    },
    "syntax_remove": {
        "str": "Enter\n\n/remove <i>model ID</i>\nYou can find a model ID in an address line of your browser",
        "parse": "html"
    },
    "syntax_feedback": {
        "str": "Enter\n\n/feedback <i>message</i>",
        "parse": "html"
    },
    "invalid_symbols": {
        "str": "Model ID %s has invalid symbols",
        "parse": "raw"
    },
    "already_added": {
        "str": "Model %s is already in your list",
        "parse": "raw"
    },
    "max_models": {
        "str": "You can add no more than %d models",
        "parse": "raw"
    },
    "add_error": {
        "str": "Could not add the model %s\nCheck the model ID or try later\nSyntax: /add <i>model ID</i>\nYou can find a model ID in an address line of your browser",
        "parse": "html"
    },
    "model_added": {
        "str": "Model %s added successfully",
        "parse": "raw"
    },
    "model_not_in_list": {
        "str": "Model %s is not in your list",
        "parse": "raw"
    },
    "model_removed": {
        "str": "Model %s removed successfully",
        "parse": "raw"
    },
    "donation": {
        "str": "Donation instructions",
        "parse": "raw"
    },
    "feedback": {
        "str": "Thank you for your feedback!",
        "parse": "raw"
    },
    "source_code": {
        "str": "Source code: https://github.com/bcmk/siren",
        "parse": "raw"
    },
    "unknown_command": {
        "str": "Unknown command",
        "parse": "raw"
    },
    "slash": {
        "str": "Command looks like this: /<i>command</i>",
        "parse": "html"
    },
    "languages": {
        "str": "This bot in other languages\nРусский: t.me/BongacamsSirenBot",
        "parse": "raw"
    },
    "version": {
        "str": "Version: %s",
        "parse": "raw"
    },
    "profile_removed": {
        "str": "Model %s probably has removed her profile",
        "parse": "raw"
    },
    "no_models": {
        "str": "You are not subscribed to any model\nTo subscribe enter\n\n/add <i>model ID</i>",
        "parse": "html"
    },
    "remove_all": {
        "str": "If you really want to remove all the subscriptions then enter\n\n/sure_remove_all",
        "parse": "raw"
    },
    "all_models_removed": {
        "str": "All your subscriptions removed",
        "parse": "raw"
    }
}
