<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $likes := .likes }}
{{ $img_exts := .img_exts }}
{{ $base_bucket_url := .base_bucket_url }}

<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    {{ template "head" . }}
    <title>SIREN — Chaturbate icons constructor</title>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Chaturbate icons constructor">
    <meta name="twitter:description" content="Free icons for your Chaturbate bio">
    <meta name="twitter:image" content="https://siren.s3.nl-ams.scw.cloud/img/chic.png">
    <meta name="image" property="og:image" content="https://siren.s3.nl-ams.scw.cloud/img/chic.png">
    {{ template "chic_functions" }}
</head>

<body>
{{ template "header" }}
<div class="container">
    <main>
        <h1 class="mt-4">Chaturbate icons constructor</h1>
        <p class="pt-2">
            These icons are free.
            You can use them in your Chaturbate bio.
            Additionally you will get an icon for our service SIREN.
            We will automatically notify our users in Telegram whenever you are online if they subscribe using this icon.
        </p>
        <h3 class="pt-2">Usage</h3>
        <ol>
            <li>Make sure your age is verified by Chaturbate</li>
            <li>Select a pack</li>
            <li>Fill in your social media</li>
            <li>Press "get the code for you bio"</li>
            <li>Paste the code at the beginning of the Wish Lists or About Me section of your bio</li>
            <li>Enjoy your new icons!</li>
        </ol>
        <p>
            It can take some time for Chaturbate to load images into their cache.
            If icons don't show up immediately, please check them in several minutes.
            If your age is not verified by Chaturbate, then the icons and other code in your bio will not work.
        </p>
        <div class="pt-2 mx-auto">
            {{- range $index, $pack := .packs -}}
                <div class="row my-3">
                    <div class="col-12 col-lg-10">
                        <div class="swiper-container dark-stripes">
                            <img style="height: 90px;"
                                 src="{{ $base_bucket_url }}/{{ $pack.Name }}/line.{{ index $img_exts "png" }}"
                                 alt=""
                                 draggable="false"
                                 ondragstart="return false;"
                                 loading="lazy">
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 d-flex justify-content-center flex-column mt-lg-0 mt-2 order-lg-first">
                        <a class="btn btn-dark w-100 d-block" href="/chic/p/{{ $pack.Name }}">use</a>
                        <div class="w-100 d-flex align-items-center" style="margin-top: 0.45rem;">
                            <div class="d-inline-flex align-items-center">
                                <input id="like-{{ $pack.Name }}" name="like-{{ $pack.Name }}" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', true)"/>
                                <label for="like-{{ $pack.Name }}" class="d-inline-flex align-items-center btn btn-dark btn-like"><i class="fas fa-thumbs-up"></i></label>
                            </div>
                            <div class="d-inline-flex align-items-center" style="margin-left: 0.35rem;">
                                <input id="dislike-{{ $pack.Name }}" name="like-{{ $pack.Name }}" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', false)"/>
                                <label for="dislike-{{ $pack.Name }}" class="d-inline-flex align-items-center btn btn-dark btn-like"><i class="fas fa-thumbs-down"></i></label>
                            </div>
                            <div class="flex-fill"></div>
                            <div class="d-flex align-items-center">
                                <b id="likes-{{ $pack.Name }}" style="font-size: 13px;" data-initial="{{ printf "%+d" (index $likes $pack.Name) }}">
                                    {{- printf "%+d" (index $likes $pack.Name) -}}
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            {{- end }}
        </div>
    </main>
    {{ template "footer" . }}
</div>
<script>
    const swipers = document.querySelectorAll('.swiper-container');
    for (let i = 0; i < swipers.length; i++) {
        swipers[i].onmousedown = mouse_down_handler;
    }
</script>
</body>
</html>
