<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}

<html lang="en">
<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Chaturbate icons constructor">
    <meta name="twitter:description" content="{{ $pack.HumanName }} — Chaturbate icon pack">
    <meta name="twitter:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <meta name="image" property="og:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <title>{{ $pack.HumanName }} — Chaturbate icon pack</title>
    <script>
        function copyTextToClipboard(text) {
            navigator.clipboard.writeText(text).then(
                function () {
                    document.getElementById('copy-button').innerText = 'copied'
                },
                function () {
                    document.getElementById('copy-button').innerText = 'could not copy'
                });
        }
    </script>
    {{ template "twitter" }}
</head>

<body>
{{ template "header" }}
<div class="container" style="margin-bottom: 75px;">
    <main>
        <header class="mt-4">
            <h1>{{ $pack.HumanName }}</title>
            <p><small>Chaturbate icon pack</small></p>
        </header>
        {{ if .code }}
            <div class="mt-4">
                <div class="row">
                    <div class="col-12 d-flex">
                        <span class="align-self-end me-4">
                            Copy this code and paste it at the beginning of the Wish Lists
                            or About Me section of your bio
                        </span>
                        <button id="copy-button"
                                class="ms-auto align-self-end ms-2 btn btn-primary"
                                onclick="copyTextToClipboard(document.getElementById('code').innerText)">
                            copy
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="p-3 rounded border border-light bg-white" style="width: 100%;">
                            <pre style="white-space: pre-wrap;"><code id="code">{{ .code }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-2">
                Note that the section will start with some empty space,
                which is necessary for correct icon rendering in mobile mode.
                It can take some time for Chaturbate to load images into their cache.
                If icons don't show up immediately, please check them in several minutes.
                If your age is not verified by Chaturbate, then the icons and other code in your bio will not work.
            </p>
        {{ end }}
        <div class="row mt-3">
            <div class="col-4 col-lg-2">
                <button class="btn btn-secondary w-100" onclick="window.history.back()">back / edit</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                Please consider sharing this icon pack with your friends. It will help us to make more free icons.
            </div>
            <div class="col-12 mt-1 d-flex" style="column-gap: .5rem;">
                <a class="twitter-share-button custom-twitter-share-button share-button share-button-en"
                   data-size="large"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text=I use this icon pack by @siren_tlg&url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}">
                    Tweet
                </a>
                <a class="reddit-share-button share-button share-button-en"
                   target="_blank"
                   href="https://reddit.com/submit?url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}&title=I use this icon pack by u/siren_tlg">
                    Reddit
                </a>
            </div>
        </div>
    </main>
    {{ template "footer" . }}
</div>
</body>
</html>
