<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="SIREN">
    <meta name="twitter:description" content="The Telegram bot for webcasts alerts">
    <meta name="twitter:image" content="https://siren.chat/icons/siren-1024x1024.png">
    <meta name="image" property="og:image" content="https://siren.chat/icons/siren-1024x1024.png">
    <title>SIREN — The Telegram bot for webcasts alerts</title>
</head>

<body>
{{ template "header" }}
<div class="container">
    <main>
        <p class="pt-3 pt-md-4">
            Get notifications in Telegram whenever your favorite webcasts are online!
            You subscribe to your favorite streamers with <strong>/add</strong> command.
            We notify you whenever they start broadcasting.
        </p>

        <h3>Installation</h3>

        <ul>
            <li>Twitch: <a href="https://t.me/TwitchSirenBot">t.me/TwitchSirenBot</a></li>
            <li>Chaturbate #1: <a href="https://t.me/ChaturbateAlarmBot">t.me/ChaturbateAlarmBot</a></li>
            <li>Chaturbate #2: <a href="https://t.me/ChaturbateAlertsBot">t.me/ChaturbateAlertsBot</a></li>
            <li>Stripchat and xHamster Live: <a href="https://t.me/StripchatOnlineBot">t.me/StripchatOnlineBot</a></li>
            <li>BongaCams: <a href="https://t.me/BongacamsOnlineBot">t.me/BongacamsOnlineBot</a></li>
            <li>LiveJasmin: <a href="https://t.me/LiveJasminSirenBot">t.me/LiveJasminSirenBot</a></li>
            <li>CamSoda: <a href="https://t.me/CamSodaSirenBot">t.me/CamSodaSirenBot</a></li>
            <li>Flirt4Free: <a href="https://t.me/Flirt4FreeSirenBot">t.me/Flirt4FreeSirenBot</a></li>
            <li>Streamate: <a href="https://t.me/StreamateSirenBot">t.me/StreamateSirenBot</a></li>
        </ul>
        <p>To see the bots in other languages change the language at the bottom of this page.</p>

        <h3>Commands</h3>

        <ul>
            <li><b>add</b> <em><strong>CHANNEL</strong></em> — Subscribe to a channel</li>
            <li><b>remove</b> <em><strong>CHANNEL</strong></em> — Remove a channel</li>
            <li><b>remove_all</b> — Remove all subscriptions</li>
            <li><b>list</b> — List your subscriptions</li>
            <li><b>pics</b> — Pictures of your online subscriptions</li>
            <li><b>week</b> — Online hours in the previous 7 days</li>
            <li><b>help</b> — Help</li>
            <li><b>settings</b> — Show settings</li>
            <li><b>feedback</b> <em><strong>YOUR_MESSAGE</strong></em> — Send feedback</li>
        </ul>

        <p>
            Replace <em><strong>CHANNEL</strong></em> with the actual channel name.
            It is the same as a model name in Chaturbate and Stripchat.
            For BongaCams you can find it in the address line of your browser.
        </p>

        <h3>Referral links</h3>
        <p>
            Type <strong>/referral</strong> and get your referral link.
            You will get two additional subscriptions for every new user registered using this link.
            Such new user will also get two additional subscriptions.
            Share it on Twitter, Instagram and other social media.
        </p>

        <h3>Privacy policy</h3>
        <p>
            We do not store any sensitive personal information.
            We store only your Telegram chat ID that is essential for core functionality of the bot.
            Telegram chat ID is just a number which we use to send you notifications.
        </p>

        <h3><a href="streamer">I'm a streamer</a></h3>
    </main>
    {{ template "footer" . }}
</div>
</body>
</html>
