<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->

{{ $pack := .pack }}
{{ $params := .params }}
{{ $likes := .likes }}
{{ $img_exts := .img_exts }}
{{ $base_bucket_url := .base_bucket_url }}

<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    {{ template "head" . }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@siren_tlg">
    <meta name="twitter:creator" content="@siren_tlg">
    <meta name="twitter:title" content="Chaturbate icons constructor">
    <meta name="twitter:description" content="{{ $pack.HumanName }} — Chaturbate icon pack">
    <meta name="twitter:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg">
    <meta name="image" property="og:image" content="{{ .base_url }}/chic/i/{{ $pack.Name }}/banner.jpg" />
    <title>{{ $pack.HumanName }} — Chaturbate icon pack</title>
    <script>
        function like_changed(what, val) {
            fetch(`/chic/like/${what}`, {method: "POST", body: JSON.stringify({pack: what, like: val})});
            const likes = document.getElementById(`likes-${what}`)
            const count = parseInt(likes.dataset.initial) + (val ? 1 : -1)
            likes.innerText = (count < 0 ? "" : "+") + count
        }

        function siren_updated() {
            const inp = document.getElementsByName('siren')[0]
            document.getElementById('fanclub-string').value = inp.value
        }
    </script>
    {{ template "twitter" }}
</head>

<body onload="siren_updated()">
{{ template "header" }}
<div class="container" style="margin-bottom: 75px;">
    <main>
        <header class="mt-4">
            <h1>{{ $pack.HumanName }}</title>
            <p class="h-secondary">Chaturbate icon pack</p>
        </header>
        <p class="pt-2">
            These icons are free.
            You can use them in your Chaturbate bio.
            Additionally you will get an icon for our service.
            We will automatically notify our users in Telegram whenever you are online if they subscribe using this icon.
        </p>
        <div class="mt-2">
            <a class="btn btn-dark px-3" href="/chic">see all the packs</a>
        </div>
        <form novalidate action="/chic/code/{{ .pack.Name }}" class="needs-validation">
            <h3 class="mt-4">Choose a placement</h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="placement" id="title" value="title" checked>
                <label class="form-check-label" for="title">
                    Instead of <em>"<strong>YOUR_USERNAME</strong>'s Bio and Free Webcam"</em>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="placement" id="line" value="line">
                <label class="form-check-label" for="line">
                    Just another line in the section
                </label>
            </div>

            <h3 class="mt-4">Fill in your social media</h3>
            <div class="mx-auto mt-3">
                {{ define "simple_input" }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="{{ .ctx.base_bucket_url }}/{{ .ctx.pack.Name }}/{{ versioned .ctx.pack .name }}.{{ index .ctx.img_exts .ctx.pack.FinalType }}"
                                     alt=""
                                     style="height: {{ .ctx.pack.Scale }}%; width: auto;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">{{ .comment }}</label>
                                </div>
                                <div class="w-100">
                                    <input id="{{ .name }}"
                                           name="{{ .name }}"
                                           value="{{ index .ctx.params .name }}"
                                           {{ if not .text }}
                                               pattern="https://.*"
                                           {{ else }}
                                               pattern="^(?:https?://)?(?:www\.|ar\.|de\.|el\.|en\.|es\.|fr\.|hi\.|it\.|ja\.|ko\.|nl\.|pt\.|ru\.|tr\.|zh\.|m\.)?chaturbate\.com(?:/p|/b)?/(?!(?:in|affiliates|external_link|p|b)\b)([A-Za-z0-9\-_@]+)/?(?:\?.*)?$|^([A-Za-z0-9\-_@]+)$"
                                               required
                                           {{ end }}
                                           class="form-control {{- if and .text .error }} is-invalid {{- end }}"
                                           aria-describedby="invalid-feedback-{{ .name }}"
                                           placeholder="{{ .placeholder }}"
                                           onkeydown="{{- if eq .name "siren" -}} siren_updated() {{- end -}}"
                                           oninput="{{- if eq .name "siren" -}} siren_updated() {{- end }}"/>
                                    {{ if not .text }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Format: https://YOUR_LINK</div>
                                    {{ else }}
                                        <div id="invalid-feedback-{{ .name }}" class="invalid-feedback">Please enter your nickname at Chaturbate</div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if $pack.Icons.siren }}
                    {{ template "simple_input" map "ctx" . "name" "siren" "comment" (raw_html "Chaturbate username <b>(required)</b>") "placeholder" "username" "text" true "error" .siren_error }}
                {{ end }}
                {{ if $pack.Icons.fanclub }}
                    <div class="row mt-2"/>
                        <div class="d-flex col-12 col-lg-9">
                            <div class="d-flex align-self-center form-icon">
                                <img src="{{ $base_bucket_url }}/{{ $pack.Name }}/{{ versioned $pack "fanclub" }}.{{ index $img_exts $pack.FinalType }}"
                                     alt=""
                                     style="height: {{ $pack.Scale }}%;"
                                     class="align-self-center">
                            </div>
                            <div class="w-100 d-flex align-self-center justify-content-center h-100 ms-3 flex-column">
                                <div class="w-100 cont-label">
                                    <label for="{{ .name }}" class="form-label input-tip">Add your Chaturbate fan club icon</label>
                                </div>
                                <div class="w-100 d-flex">
                                    <div class="align-self-center flex-fill">
                                        <!--suppress HtmlFormInputWithoutLabel -->
                                        <input id="fanclub-string" class="form-control" disabled/>
                                    </div>
                                    <div class="align-self-center ms-4 d-flex">
                                        <label class="switch align-self-center" for="fanclub">
                                            <input id="fanclub"
                                                   name="fanclub"
                                                   type="checkbox"
                                                    {{ if eq $params.fanclub "on" -}} checked {{- end }}>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ if $pack.Icons.instagram }}
                    {{ template "simple_input" map "ctx" . "name" "instagram" "comment" "Instagram link" "placeholder" "https://www.instagram.com/username" }}
                {{ end }}
                {{ if $pack.Icons.twitter }}
                    {{ template "simple_input" map "ctx" . "name" "twitter" "comment" "Twitter link" "placeholder" "https://twitter.com/username" }}
                {{ end }}
                {{ if $pack.Icons.onlyfans }}
                    {{ template "simple_input" map "ctx" . "name" "onlyfans" "comment" "Onlyfans link" "placeholder" "https://onlyfans.com/username" }}
                {{ end }}
                {{ if $pack.Icons.amazon }}
                    {{ template "simple_input" map "ctx" . "name" "amazon" "comment" "Amazon wish list link" }}
                {{ end }}
                {{ if $pack.Icons.lovense }}
                    {{ template "simple_input" map "ctx" . "name" "lovense" "comment" "Lovense wish list link" }}
                {{ end }}
                {{ if $pack.Icons.gift }}
                    {{ template "simple_input" map "ctx" . "name" "gift" "comment" "Other wish list link" }}
                {{ end }}
                {{ if $pack.Icons.pornhub }}
                    {{ template "simple_input" map "ctx" . "name" "pornhub" "comment" "Pornhub link" }}
                {{ end }}
                {{ if $pack.Icons.dmca }}
                    {{ template "simple_input" map "ctx" . "name" "dmca" "comment" "DMCA link" }}
                {{ end }}
                {{ if $pack.Icons.allmylinks }}
                    {{ template "simple_input" map "ctx" . "name" "allmylinks" "comment" "AllMyLinks link" }}
                {{ end }}
                {{ if $pack.Icons.onemylink }}
                    {{ template "simple_input" map "ctx" . "name" "onemylink" "comment" "Onemylink link" }}
                {{ end }}
                {{ if $pack.Icons.linktree }}
                    {{ template "simple_input" map "ctx" . "name" "linktree" "comment" "Linktree link" }}
                {{ end }}
                {{ if $pack.Icons.fancentro }}
                    {{ template "simple_input" map "ctx" . "name" "fancentro" "comment" "FanCentro link" }}
                {{ end }}
                {{ if $pack.Icons.manyvids }}
                    {{ template "simple_input" map "ctx" . "name" "manyvids" "comment" "ManyVids link" }}
                {{ end }}
                {{ if $pack.Icons.frisk }}
                    {{ template "simple_input" map "ctx" . "name" "frisk" "comment" "Frisk link" }}
                {{ end }}
                {{ if $pack.Icons.fansly }}
                    {{ template "simple_input" map "ctx" . "name" "fansly" "comment" "Fansly link" }}
                {{ end }}
                {{ if $pack.Icons.throne }}
                    {{ template "simple_input" map "ctx" . "name" "throne" "comment" "Throne link" }}
                {{ end }}
                {{ if $pack.Icons.avn }}
                    {{ template "simple_input" map "ctx" . "name" "avn" "comment" "AVN Stars link" }}
                {{ end }}
                {{ if $pack.Icons.mail }}
                    {{ template "simple_input" map "ctx" . "name" "mail" "comment" "Email ralated link" }}
                {{ end }}
                {{ if $pack.Icons.snapchat }}
                    {{ template "simple_input" map "ctx" . "name" "snapchat" "comment" "Snapchat link" }}
                {{ end }}
                {{ if $pack.Icons.telegram }}
                    {{ template "simple_input" map "ctx" . "name" "telegram" "comment" "Telegram link" }}
                {{ end }}
                {{ if $pack.Icons.whatsapp }}
                    {{ template "simple_input" map "ctx" . "name" "whatsapp" "comment" "WhatsApp link" }}
                {{ end }}
                {{ if $pack.Icons.youtube }}
                    {{ template "simple_input" map "ctx" . "name" "youtube" "comment" "YouTube link" }}
                {{ end }}
                {{ if $pack.Icons.tiktok }}
                    {{ template "simple_input" map "ctx" . "name" "tiktok" "comment" "TikTok link" }}
                {{ end }}
                {{ if $pack.Icons.reddit }}
                    {{ template "simple_input" map "ctx" . "name" "reddit" "comment" "Reddit link" }}
                {{ end }}
                {{ if $pack.Icons.twitch }}
                    {{ template "simple_input" map "ctx" . "name" "twitch" "comment" "Twitch link" }}
                {{ end }}
                {{ if $pack.Icons.discord }}
                    {{ template "simple_input" map "ctx" . "name" "discord" "comment" "Discord link" }}
                {{ end }}
                <div class="row mt-4">
                    <div class="col-12 col-lg-9">
                        <hr class="w-100"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9 d-flex align-items-center" style="font-size: 24px;">
                        <div class="flex-fill"></div>
                        <div class="d-inline-flex align-items-center">
                            <input id="like" name="like" type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', true)"/>
                            <label for="like" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-up"></i></label>
                        </div>
                        <div class="d-inline-flex align-items-center ms-2" style="margin-left: 0.35rem;">
                            <input id="dislike" name="like"  type="radio" class="like-selection" onchange="like_changed('{{ $pack.Name }}', false)"/>
                            <label for="dislike" class="d-inline-flex align-items-center btn-siren btn btn-dark"><i class="fas fa-thumbs-down"></i></label>
                        </div>
                        <div class="d-flex align-items-center">
                            <b id="likes-{{ $pack.Name }}"
                                style="font-size: 13px; min-width: 45px;"
                                data-initial="{{ printf "%+d" $likes }}"
                                class="text-end">
                                {{- printf "%+d" $likes -}}
                            </b>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-lg-9">
                        <button id="submit" class="btn btn-primary w-100">get the code for your bio</button>
                        <div id="validation-alert" class="alert alert-danger mt-3 collapse" role="alert">Please fix errors in the form and try again</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-12 col-lg-9">
                Please consider sharing this icon pack with your friends. It will help us to make more free icons.
            </div>
            <div class="col-12 col-lg-9 mt-1 d-flex" style="column-gap: .5rem;">
                <a class="twitter-share-button custom-twitter-share-button share-button share-button-en"
                   data-size="large"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text=I use this icon pack by @siren_tlg&url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}">
                    Tweet
                </a>
                <a class="reddit-share-button share-button share-button-en"
                   target="_blank"
                   href="https://reddit.com/submit?url={{ .lang_base_url }}/chic/p/{{ $pack.Name }}&title=I use this icon pack by u/siren_tlg">
                    Reddit
                </a>
            </div>
        </div>
    </main>
    {{ template "footer" . }}
</div>
<script>
    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity()) {
                    event.preventDefault()
                    const formData = new FormData(form);
                    const filteredParams = new URLSearchParams();
                    for (let [key, value] of formData.entries()) {
                        if (value) {
                            filteredParams.append(key, value);
                        }
                    }
                    const targetUrl = `${form.action}?${filteredParams.toString()}`;
                    window.location.href = targetUrl;
                } else {
                    event.preventDefault()
                    event.stopPropagation()
                    let validationAlert = document.getElementById('validation-alert')
                    validationAlert.classList.remove("collapse");
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>
