{{ define "header-text" -}} The Telegram bot for webcasts alerts {{- end }}
{{ define "footer-links" -}} Links {{- end }}
{{ define "footer-langs" -}} Languages {{- end }}
{{ define "supported-sites" -}} Supported sites {{- end }}
