.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dark-stripes {
    background: linear-gradient(
        135deg,
        white,         white   60%,
        #e1e1e1 60.1%, #e1e1e1 65%,
        #bcbcbc 65.1%, #bcbcbc 70%,
        #959595 70.1%, #959595 75%,
        #6c6c6c 75.1%, #6c6c6c 80%,
        #3f3f3f 80.1%, #3f3f3f 85%,
        black   85.1%, black   100%);
}

.swiper-container {
    border-radius: 15px;
    border: 2px solid #ddd;
    cursor: grab;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar { 
        display: none;
    }
}

.form-icon {
    height: 70px;
}

.cont-label {
    margin-top: -6px;
}

.input-nick {
    width: 100%;
    align-self: center;
}

.input-tip {
    align-self: center;
    margin: 0;
}

.size-selection {
    margin: -20px;
    border-spacing: 20px;
    border-collapse: separate;
}

.size-selection td {
    width: 100px;
    height: 100px;
}

input[type="radio"].outlined-selection {
    display: none;
}

input[type="radio"].outlined-selection + label {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--light) !important;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

input[type="radio"].outlined-selection:checked + label {
    box-shadow: 0 0 0 5px var(--bs-primary);
    cursor: default;
}

input[type="radio"].like-selection {
    display: none;
}

input[type="radio"].like-selection + label {
    width: 40px;
    height: 30px;
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

input[type="radio"].like-selection:checked + label {
    background-color: var(--bs-primary);
}

.btn-like {
    border-radius: 15px !important;
}
