$fa-font-path: "/node_modules/@fortawesome/fontawesome-free/webfonts";
$btn-border-radius: 13px;
$input-placeholder-color: #aaa;
$container-max-widths: (sm: 540px, md: 720px, lg: 860px, xl: 900px);
$dark: #3a3a3a;

@use '../node_modules/@fontsource/montserrat/scss/mixins' as Montserrat;
@use '../node_modules/@fontsource/jetbrains-mono/scss/mixins' as JetBrainsMono;

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'switch';
@import 'chic';

$fontDir: "/node_modules/@fontsource/montserrat/files";
@include Montserrat.fontFace($weight: 400, $fontDir: $fontDir);
@include Montserrat.fontFace($weight: 500, $fontDir: $fontDir);
@include Montserrat.fontFace($weight: 700, $fontDir: $fontDir);
@include Montserrat.fontFace($weight: 400, $fontDir: $fontDir, $style: italic);
@include Montserrat.fontFace($weight: 500, $fontDir: $fontDir, $style: italic);
@include Montserrat.fontFace($weight: 700, $fontDir: $fontDir, $style: italic);

$fontDir: "/node_modules/@fontsource/jetbrains-mono/files";
@include JetBrainsMono.fontFace($weight: 400, $fontDir: $fontDir);
@include JetBrainsMono.fontFace($weight: 700, $fontDir: $fontDir, $style: italic);

body {
    background-color: #eeeeee !important;
    color: #333333;
    font-family: 'Montserrat', sans-serif !important;
}

.header {
    background-color: #5f5f5f;
    color: #dddddd;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-name {
    font-weight: 500;
    font-size: 18pt;
    color: #dddddd;
    letter-spacing: 5.6pt;
    line-height: 1 !important;
    margin-block-end: 0 !important;
    margin-left: 16px;
}

.header-icon {
    width: 31px;
    height: 31px;
    * {
        fill: #ddd !important;
    }
}

.title-secondary {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11.5pt;
    line-height: 1.2;
}

h1 {
    color: #4d4d4d;
    text-align: center !important;
}

h2 {
    font-weight: 500 !important;
    color: #4d4d4d;
}

h3, h4 {
    color: #4d4d4d;
}

strong {
    color: #c7152b;
}

.mono {
    font-family: 'JetBrains MonoVariable', monospace !important;
    font-size: 95%;
}

a.share-button {
    height: 28px;
    color: #fff;
    border-radius: 9999px;
    text-align: center;
    line-height: 26px;
    font-size: 13px;
    text-decoration: none;
}

.share-button-en {
    width: 76px;
}

.share-button-ru {
    width: 95px;
}

.custom-twitter-share-button {
    background-color: #1d9bf0;
    &:active, &:focus, &:hover {
        background-color: #0c7abf;
    }
}

.reddit-share-button {
    background-color: #ff4500;
    &:active, &:focus, &:hover {
        background-color: #d84000;
    }
}

.h-secondary {
    font-size: .8em;
}

.smallest {
    font-size: .68em;
}

.gold {
    color: #ddaa00;
}
